.icon{
    color: red;
    font-size: 30px;
}
body{
    background: #3268db; background: -webkit-linear-gradient(to right, #176279, #2a36a3); background: linear-gradient(to right, #471b66, #650f7a);
    
}
.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 15px;
}
.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content:center;
  align-items:center;
}

h2{
  color: aquamarine;
}
